<section class="pt-5">
   <div class="container shadow section-sm rounded">
      <div class="columns is-multiline">
         <!-- sidebar -->
         <div class="column is-3-desktop is-12-tablet">
            <ul class="sidenav">
              <li title="Capsules" class="sidelist parent active">
                <a href="/capsules">Capsules</a>
                <ul>
                  <% capsules.forEach((capsule) => { %>
                    <li class="sidelist">
                        <a href="/capsules/<%= capsule.id %>"><%= capsule.serial %></a>
                    </li>
                  <% }); %>
                </ul>
              </li>
              <li class="sidelist">
                <a href="/cores">Cores</a>
              </li>
              <li class="sidelist">
                <a href="/crew">Crew</a>
              </li>
              <li class="sidelist">
                <a href="/dragons">Dragons</a>
              </li>
              <li class="sidelist">
                <a href="/landpads">Landpads</a>
              </li>
              <li class="sidelist">
                <a href="/launches">Launches</a>
              </li>
              <li class="sidelist">
                <a href="/launchpads">Launchpads</a>
              </li>
              <li class="sidelist">
                <a href="/payloads">Payloads</a>
              </li>
              <li class="sidelist">
                <a href="/roadster">Roadster</a>
              </li>
              <li class="sidelist">
                <a href="/rockets">Rockets</a>
              </li>
              <li class="sidelist">
                <a href="/ships">Ships</a>
              </li>
              <li class="sidelist">
                <a href="/starlink">Starlink</a>
              </li>
            </ul>
         </div>

         <div class="column is-8-desktop is-12-tablet">
            <div class="px-4">
               <h2 class="mb-4 has-text-weight-medium">Capsules - <a class = "has-text-weight-light" href="/capsules/search">search</a></h2>
               <div class="content">
                  <% capsules.forEach((capsule) => { %>
                     <div class="card">
                        <p><strong><a href="/capsules/<%= capsule.id %>"><%= capsule.serial %></a></strong></p>
                        <p><%= capsule.last_update %></p>
                        <div class="mt-5">
                           <% if(capsule.status === 'active') { %>
                              <div class="badge changed">Active</div>
                           <% } else if (capsule.status === 'unknown') { %>
                              <div class="badge unreleased">Unknown</div>
                           <% } else if (capsule.status === 'retired') { %>
                              <div class="badge removed">Retired</div>
                           <% } else if (capsule.status === 'destroyed') { %>
                              <div class="badge depricated">Destroyed</div>
                           <% } %>
                           
                           <h5>Launches</h5>
                           <ul>
                              <% capsule.launches.forEach((launch) => { %>
                                 <li><%= launch %></li>
                              <% }); %>
                           </ul>
                        </div>
                     </div>
                     <hr />
                  <% }); %>
                  <% if (capsules.length === 0) { %>
                     <p><%= message %></p>
                  <% } %>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>