<section class="pt-5">
   <div class="container shadow section-sm rounded">
      <div class="columns is-multiline">
         <!-- sidebar -->
         <div class="column is-3-desktop is-12-tablet">
            <ul class="sidenav">
               <li title="cores" class="sidelist parent active">
                 <a href="/cores">Cores</a>
                 <ul>
                   <% cores.forEach((core) => { %>
                     <li class="sidelist">
                         <a href="/cores/<%= core.id %>"><%= core.serial %></a>
                     </li>
                   <% }); %>
                 </ul>
               </li>
               <li class="sidelist">
                 <a href="/capsules">Capsules</a>
               </li>
              <li class="sidelist">
                <a href="/crew">Crew</a>
              </li>
              <li class="sidelist">
                <a href="/dragons">Dragons</a>
              </li>
              <li class="sidelist">
                <a href="/landpads">Landpads</a>
              </li>
              <li class="sidelist">
                <a href="/launches">Launches</a>
              </li>
              <li class="sidelist">
                <a href="/launchpads">Launchpads</a>
              </li>
              <li class="sidelist">
                <a href="/payloads">Payloads</a>
              </li>
              <li class="sidelist">
                <a href="/roadster">Roadster</a>
              </li>
              <li class="sidelist">
                <a href="/rockets">Rockets</a>
              </li>
              <li class="sidelist">
                <a href="/ships">Ships</a>
              </li>
              <li class="sidelist">
                <a href="/starlink">Starlink</a>
              </li>
            </ul>
         </div>

         <!-- body -->
         <div class="column is-8-desktop is-12-tablet">
            <div class="px-4">
               <h2 class="mb-4 has-text-weight-medium">Cores - <a class = "has-text-weight-light" href="/cores/search">search</a></h2> <!-- main content -->
               <div class="content">
                  <% cores.forEach((core) => { %>
                     <div class="card">
                        <p><strong><a href="/cores/<%= core.id %>"><%= core.serial %></a></strong></p>
                        <p><%= core.last_update %></p>
                        <% if(core.status === 'active') { %>
                           <div class="badge changed">Active</div>
                        <% } else if (core.status === 'inactive') { %>
                           <div class="badge unreleased">Inactive</div>
                        <% } else if (core.status === 'expended') { %>
                           <div class="badge removed">Expended</div>
                        <% } else if (core.status === 'lost') { %>
                           <div class="badge depricated">Lost</div>
                        <% } %>
                        <div class="mt-5">
                           
                           <h5>Launches</h5>
                           <ul>
                              <% core.launches.forEach((launch) => { %>
                                 <li><%= launch %></li>
                              <% }); %>
                           </ul>
                        </div>
                     </div>
                     <hr />
                  <% }); %>

                  <% if (cores.length === 0) { %>
                     <p><%= message %></p>
                  <% } %>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>