<section class="pt-5">
  <div class="container shadow section-sm rounded">
    <div class="columns is-multiline">
      <!-- sidebar -->
      <div class="column is-3-desktop is-12-tablet">
        <ul class="sidenav">
          <li title="dragons" class="sidelist parent active">
            <a href="/dragons">Dragons</a>
            <ul>
              <% dragons.forEach((dragon)=> { %>
                <li class="sidelist">
                  <a href="/dragons/<%= dragon.id %>">
                    <%= dragon.name %>
                  </a>
                </li>
              <% }); %>
            </ul>
          </li>
          <li class="sidelist">
            <a href="/capsules">Capsules</a>
          </li>
          <li class="sidelist">
            <a href="/cores">Cores</a>
          </li>
          <li class="sidelist">
            <a href="/crew">Crew</a>
          </li>
          <li class="sidelist">
            <a href="/landpads">Landpads</a>
          </li>
          <li class="sidelist">
            <a href="/launches">Launches</a>
          </li>
          <li class="sidelist">
            <a href="/launchpads">Launchpads</a>
          </li>
          <li class="sidelist">
            <a href="/payloads">Payloads</a>
          </li>
          <li class="sidelist">
            <a href="/roadster">Roadster</a>
          </li>
          <li class="sidelist">
            <a href="/rockets">Rockets</a>
          </li>
          <li class="sidelist">
            <a href="/ships">Ships</a>
          </li>
          <li class="sidelist">
            <a href="/starlink">Starlink</a>
          </li>
        </ul>
      </div>

      <!-- body -->
      <div class="column is-8-desktop is-12-tablet">
        <div class="px-4">
          <h2 class="mb-4 has-text-weight-medium">Dragons - <a class = "has-text-weight-light" href="/dragons/search">search</a></h2> <!-- main content -->
          <div class="content">
            <% dragons.forEach((dragon)=> { %>
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <p><img src="<%= dragon.flickr_images[0] %>" alt="<%= dragon.name %>"></p>
                    <p><strong><a href="/dragons/<%= dragon.id %>">
                          <%= dragon.name %>
                        </a></strong></p>
                    <div class="mt-5">
                      <%= dragon.description %>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            <% }); %>

            <% if (dragons.length === 0) { %>
               <p><%= message %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>