<section class="section pb-0">
   <div class="container">
      <div class="columns is-justify-content-space-between is-align-items-center">
         <div class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
            <h1 class="mb-4">Express Space X App</h1>
            <p class="mb-4">We are making a Space X Application using third party data.</p>
            <form class="search-wrapper" action="search.html">
               <input id="search-by" name="s" type="search" class="input input-lg"
                  placeholder="Search Here...">
               <button type="submit" class="btn btn-primary">Search</button>
            </form>
         </div>
         <div class="column is-4-desktop hidden-on-tablet">
            <img src="images/spacex-yJv97tE7GDM.jpg" alt="rocket launch" class="img-fluid">
         </div>
      </div>
   </div>
</section>
<!-- /banner -->

<!-- topics -->
<section class="section pb-0">
   <div class="container">
      <h2 class="section-title">Rocket Material</h2>
      <div class="columns is-multiline">
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-panel mb-5"></i>
                  <h3 class="card-title h4">Capsules</h3>
                  <p class="card-text">Review capsules...</p>
                  <a href="/capsules" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-credit-card mb-5"></i>
                  <h3 class="card-title h4">Cores</h3>
                  <p class="card-text">Review cores...</p>
                  <a href="/cores" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Crew</h3>
                  <p class="card-text">Review crew...</p>
                  <a href="/crew" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-settings mb-5"></i>
                  <h3 class="card-title h4">Dragons</h3>
                  <p class="card-text">Review dragons...</p>
                  <a href="/dragons" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Landpads</h3>
                  <p class="card-text">Review landpads...</p>
                  <a href="/landpads" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Launches</h3>
                  <p class="card-text">Review launches...</p>
                  <a href="/launches" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Launchpads</h3>
                  <p class="card-text">Review launchpads...</p>
                  <a href="/launchpads" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Payloads</h3>
                  <p class="card-text">Review payloads...</p>
                  <a href="/payloads" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Roadster</h3>
                  <p class="card-text">Review roadster...</p>
                  <a href="/roadster" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Rockets</h3>
                  <p class="card-text">Review rockets...</p>
                  <a href="/rockets" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Ships</h3>
                  <p class="card-text">Review ships...</p>
                  <a href="/ships" class="stretched-link"></a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Starlink</h3>
                  <p class="card-text">Review starlink...</p>
                  <a href="/starlink" class="stretched-link"></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /topics -->

<!-- faq -->
<section class="section pb-0">
   <div class="container">
      <h2 class="section-title">Mostly Asked Questions</h2>
      <div class="columns masonry-wrapper">
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">Where is Space X HQ located?</h3>
                  <p class="card-text content">
                     <%= company.headquarters.city %>, <%= company.headquarters.state %>
                  </p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">What does Space X do?</h3>
                  <p class="card-text content">
                     <%= company.summary %>
                  </p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">What is Space X's valuation?</h3>
                  <p class="card-text content">
                     <%= company.valuation.toLocaleString('en-US') %>
                  </p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">When was Space X founded?</h3>
                  <p class="card-text content">
                     <%= company.founded %>
                  </p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">How many employees does Space X have?</h3>
                  <p class="card-text content">
                     <%= company.employees.toLocaleString('en-US') %>
                  </p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">Who is the CEO of Space X?</h3>
                  <p class="card-text content">
                     <%= company.ceo %>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /faq -->

<!-- call to action -->
<section class="section">
   <div class="container">
      <div class="columns is-align-items-center">
         <div class="column is-4-desktop has-text-centered hidden-on-tablet">
            <img src="images/pablo-guerrero-pGXUwHZQ5eI-unsplash.jpg" class="img-fluid" alt="rocket">
         </div>
         <div class="column is-8-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
            <h2 class="mb-3">Still Didn&rsquo;t Find Your Answer?</h2>
            <p>Please reach out to us with more questions.</p>
            <a href="/contact" class="btn btn-primary">Submit a ticket</a>
         </div>
      </div>
   </div>
</section>