<section class="pt-6">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <!-- sidebar -->
            <div class="column is-3-desktop is-12-tablet">
                <ul class="sidenav">
                    <li title="starlink" class="sidelist parent active">
                        <a href="/starlink">Starlink</a>
                        <ul>
                            <li class="sidelist parent active">
                                <a href="/starlink/<%= sat.id %>"><%= sat.spaceTrack.OBJECT_NAME %></a>
                            </li>
                            <% starlink.forEach((s)=> { %>
                                <% if (s.id !== sat.id) { %>
                                    <li class="sidelist">
                                        <a href="/starlink/<%= s.id %>"><%= s.spaceTrack.OBJECT_NAME %></a>
                                    </li>
                                <% } %>
                            <% }); %>
                        </ul>
                    </li>
                    <li class="sidelist">
                        <a href="/capsules">Capsules</a>
                    </li>
                    <li class="sidelist">
                        <a href="/cores">Cores</a>
                    </li>
                    <li class="sidelist">
                        <a href="/crew">Crew</a>
                    </li>
                    <li class="sidelist">
                        <a href="/dragons">Dragons</a>
                    </li>
                    <li class="sidelist">
                        <a href="/landpads">Landpads</a>
                    </li>
                    <li class="sidelist">
                        <a href="/launches">Launches</a>
                    </li>
                    <li class="sidelist">
                        <a href="/launchpads">Launchpads</a>
                    </li>
                    <li class="sidelist">
                        <a href="/payloads">Payloads</a>
                    </li>
                    <li class="sidelist">
                        <a href="/roadster">Roadster</a>
                    </li>
                    <li class="sidelist">
                        <a href="/rockets">Rockets</a>
                    </li>
                    <li class="sidelist">
                        <a href="/ships">Ships</a>
                    </li>
                </ul>
            </div>

            <div class="column is-8-desktop is-12-tablet">
                <div class="px-4">
                    <h2 class="mb-4 has-text-weight-medium">Single Starlink - <a class = "has-text-weight-light" href="/starlink/search">search</a></h2>
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="title is-4"><%= sat.spaceTrack.OBJECT_NAME %></p>
                                <span class="has-text-weight-medium">ID: </span><%= sat.id %><br />
                                <span class="has-text-weight-medium">Launch: </span><%= sat.launch %><br />
                                <span class="has-text-weight-medium">Version: </span><%= sat.version %><br />
                                <span class="has-text-weight-medium">Height (km): </span><%= sat.height_km %><br />
                                <span class="has-text-weight-medium">GPS (lat, long): </span><%= sat.latitude %>, <%= sat.longitude %><br />
                                <span class="has-text-weight-medium">Velocity (kms): </span><%= sat.velocity_kms %><br />
                                <span class="has-text-weight-medium">Space Track:</span>
                                <ul class="is-unstyled">
                                    <li>CCSDS_OMM_VERS: <%= sat.spaceTrack.CCSDS_OMM_VERS %></li>
                                    <li>COMMENT: <%= sat.spaceTrack.COMMENT %></li>
                                    <li>CREATION_DATE: <%= sat.spaceTrack.CREATION_DATE %></li>
                                    <li>ORIGINATOR: <%= sat.spaceTrack.ORIGINATOR %></li>
                                    <li>OBJECT_NAME: <%= sat.spaceTrack.OBJECT_NAME %></li>
                                    <li>OBJECT_ID: <%= sat.spaceTrack.OBJECT_ID %></li>
                                    <li>CENTER_NAME: <%= sat.spaceTrack.CENTER_NAME %></li>
                                    <li>REF_FRAME: <%= sat.spaceTrack.REF_FRAME %></li>
                                    <li>TIME_SYSTEM: <%= sat.spaceTrack.TIME_SYSTEM %></li>
                                    <li>MEAN_ELEMENT_THEORY: <%= sat.spaceTrack.MEAN_ELEMENT_THEORY %></li>
                                    <li>EPOCH: <%= sat.spaceTrack.EPOCH %></li>
                                    <li>MEAN_MOTION: <%= sat.spaceTrack.MEAN_MOTION %></li>
                                    <li>ECCENTRICITY: <%= sat.spaceTrack.ECCENTRICITY %></li>
                                    <li>INCLINATION: <%= sat.spaceTrack.INCLINATION %></li>
                                    <li>RA_OF_ASC_NODE: <%= sat.spaceTrack.RA_OF_ASC_NODE %></li>
                                    <li>ARG_OF_PERICENTER: <%= sat.spaceTrack.ARG_OF_PERICENTER %></li>
                                    <li>MEAN_ANOMALY: <%= sat.spaceTrack.MEAN_ANOMALY %></li>
                                    <li>EPHEMERIS_TYPE: <%= sat.spaceTrack.EPHEMERIS_TYPE %></li>
                                    <li>CLASSIFICATION_TYPE: <%= sat.spaceTrack.CLASSIFICATION_TYPE %></li>
                                    <li>NORAD_CAT_ID: <%= sat.spaceTrack.NORAD_CAT_ID %></li>
                                    <li>ELEMENT_SET_NO: <%= sat.spaceTrack.ELEMENT_SET_NO %></li>
                                    <li>REV_AT_EPOCH: <%= sat.spaceTrack.REV_AT_EPOCH %></li>
                                    <li>BSTAR: <%= sat.spaceTrack.BSTAR %></li>
                                    <li>MEAN_MOTION_DOT: <%= sat.spaceTrack.MEAN_MOTION_DOT %></li>
                                    <li>MEAN_MOTION_DDOT: <%= sat.spaceTrack.MEAN_MOTION_DDOT %></li>
                                    <li>SEMIMAJOR_AXIS: <%= sat.spaceTrack.SEMIMAJOR_AXIS %></li>
                                    <li>PERIOD: <%= sat.spaceTrack.PERIOD %></li>
                                    <li>APOAPSIS: <%= sat.spaceTrack.APOAPSIS %></li>
                                    <li>PERIAPSIS: <%= sat.spaceTrack.PERIAPSIS %></li>
                                    <li>OBJECT_TYPE: <%= sat.spaceTrack.OBJECT_TYPE %></li>
                                    <li>RCS_SIZE: <%= sat.spaceTrack.RCS_SIZE %></li>
                                    <li>COUNTRY_CODE: <%= sat.spaceTrack.COUNTRY_CODE %></li>
                                    <li>LAUNCH_DATE: <%= sat.spaceTrack.LAUNCH_DATE %></li>
                                    <li>SITE: <%= sat.spaceTrack.SITE %></li>
                                    <li>DECAY_DATE: <%= sat.spaceTrack.DECAY_DATE %></li>
                                    <li>DECAYED: <%= sat.spaceTrack.DECAYED %></li>
                                    <li>FILE: <%= sat.spaceTrack.FILE %></li>
                                    <li>GP_ID: <%= sat.spaceTrack.GP_ID %></li>
                                    <li>TLE_LINE0: <%= sat.spaceTrack.TLE_LINE0 %></li>
                                    <li>TLE_LINE1: <%= sat.spaceTrack.TLE_LINE1 %></li>
                                    <li>TLE_LINE2: <%= sat.spaceTrack.TLE_LINE2 %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>