<section class="pt-6">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <!-- sidebar -->
            <div class="column is-3-desktop is-12-tablet">
                <ul class="sidenav">
                    <li class="sidelist parent active">
                      <a href="/landpads">Landpads</a>
                      <ul>
                        <li class="sidelist parent active">
                            <a href="/landpads/<%= landpad.id %>">
                                <%= landpad.name %>
                            </a>
                        </li>
                        <% landpads.forEach((lp)=> { %>
                            <% if (lp.id !== landpad.id) { %>
                                <li class="sidelist">
                                    <a href="/landpads/<%= lp.id %>">
                                        <%= lp.name %>
                                    </a>
                                </li>
                            <% } %>
                        <% }); %>
                      </ul>
                    </li>
                    <li class="sidelist">
                      <a href="/capsules">Capsules</a>
                    </li>
                    <li class="sidelist">
                      <a href="/cores">Cores</a>
                    </li>
                    <li class="sidelist">
                      <a href="/crew">Crew</a>
                    </li>
                    <li class="sidelist">
                      <a href="/dragons">Dragons</a>
                    </li>
                    <li class="sidelist">
                      <a href="/launches">Launches</a>
                    </li>
                    <li class="sidelist">
                      <a href="/launchpads">Launchpads</a>
                    </li>
                    <li class="sidelist">
                      <a href="/payloads">Payloads</a>
                    </li>
                    <li class="sidelist">
                      <a href="/roadster">Roadster</a>
                    </li>
                    <li class="sidelist">
                      <a href="/rockets">Rockets</a>
                    </li>
                    <li class="sidelist">
                      <a href="/ships">Ships</a>
                    </li>
                    <li class="sidelist">
                      <a href="/starlink">Starlink</a>
                    </li>
                  </ul>
            </div>

            <div class="column is-8-desktop is-12-tablet">
                <div class="px-4">
                    <h2 class="mb-4 has-text-weight-medium">Single Landpad - <a class = "has-text-weight-light" href="/landpads/search">search</a></h2>
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="i-5">
                                    <div class="card">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="<%= landpad.images.large[0] %>" alt="landpad">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="media">
                                        
                                                <div class="media-content">
                                                    <p class="title is-4 mb-5"><%= landpad.full_name %> (<%= landpad.name %>)</p>
                                                    <p class="subtitle is-6">
                                                        <section>
                                                            <p class="subtitle is-size-6">
                                                                <%= landpad.details %>
                                                            </p>
                                                        </section>
                                                        <span class="has-text-weight-medium"><a href="<%= landpad.wikipedia %>">Wikipedia</a></span><br />
                                                        <br />
                                                        <span class="has-text-weight-medium">Images:</span><br />
                                                            <ul class="is-unstyled">
                                                                <% landpad.images.large.forEach((i) => { %>
                                                                    <li><a href="<%= i %>">image</a></li>
                                                                <% }); %>
                                                            </ul>
                                                        <br />
                                                        <span class="has-text-weight-medium">Type: </span><%= landpad.type %><br />
                                                        <span class="has-text-weight-medium">Status: </span><%= landpad.status %><br />
                                                        <span class="has-text-weight-medium">Locality: </span><%= landpad.locality %><br />
                                                        <span class="has-text-weight-medium">Region: </span><%= landpad.region %><br />
                                                        <span class="has-text-weight-medium">GPS (latitude, longitude): </span><%= landpad.latitude %>, <%= landpad.longitude %><br />
                                                        <span class="has-text-weight-medium">Landing Attemps: </span><%= landpad.landing_attempts %><br />
                                                        <span class="has-text-weight-medium">Landing Successes: </span><%= landpad.landing_successes %><br />
                                                        <br />
                                                        <span class="has-text-weight-medium">Launches: </span><br />
                                                        <ul class="is-unstyled">
                                                            <% landpad.launches.forEach((launch) => { %>
                                                                <li><%= launch %></li>
                                                            <% }); %>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>