<section class="pt-6">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <!-- sidebar -->
            <div class="column is-3-desktop is-12-tablet">
                <ul class="sidenav">
                    <li title="Capsules" class="sidelist parent">
                        <a href="list.html">Capsules</a>
                        <ul>
                            <li class="sidelist parent active">
                                <a href="/capsules/<%= capsule.id %>">
                                    <%= capsule.serial %>
                                </a>
                            </li>
                            <% capsules.forEach((cap)=> { %>
                                <% if (cap.id !==capsule.id) { %>
                                    <li class="sidelist">
                                        <a href="/capsules/<%= cap.id %>">
                                            <%= cap.serial %>
                                        </a>
                                    </li>
                                <% } %>
                            <% }); %>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="column is-8-desktop is-12-tablet">
                <div class="px-4">
                    <h2 class="mb-4 has-text-weight-medium">
                        <%= capsule.serial %>
                    </h2>
                    <div class="content">

                        <!-- heading -->
                        <p>
                            <%= capsule.last_update %>
                        </p>

                        <!-- unordered list -->
                        <ul>
                            <li>Reuse Count: <%= capsule.reuse_count %>
                            </li>
                            <li>Water Landings: <%= capsule.water_landings %>
                            </li>
                            <li>Land Landings: <%= capsule.land_landings %>
                            </li>
                            <li>Status: <%= capsule.status %>
                            </li>
                            <li>Type: <%= capsule.type %>
                            </li>
                        </ul>
                        <p>
                            <br />
                            Launches:
                        </p>
                        <ul>
                            <% capsule.launches.forEach((launch)=> { %>
                                <li>
                                    <%= launch %>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>